<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School Note</title>
    <%- include('templates/import-css.ejs') %>     
</head>
<body>
    <noscript>Für diese Anwendung muss Java Script aktiviert sein!</noscript>
    <div class="windows" id="windows" style="display: none;">
        <div id="background"></div>

        <!-- Create Note -->
        <div id="note-create" class="bg-light bg-gradient p-4 menu-box rounded">
            <form>
                <!-- title -->
                <div class="mb-3">
                <input type="text" class="form-control" id="title" placeholder="Titel" name="title">
                </div>
                <!-- subject -->
                <div class="mb-3">
                    <label for="subject" class="form-label">Schulfach</label>
                    <select class="form-select" id="subject" name="subject">
                        <option selected value="Sonstiges">Sonstiges</option>
                        <option value="Deutsch">Deutsch</option>
                        <option value="Englisch">Englisch</option>
                        <option value="Latein">Latein</option>
                        <option value="Mathe">Mathe</option>
                        <option value="Religion">Religion</option>
                        <option value="Biologie">Biologie</option>
                        <option value="Wirtschaft und Recht">Wirtschaft und Recht</option>
                        <option value="Musik">Musik</option>
                        <option value="Informatik">Informatik</option>
                        <option value="Sozialkunde">Sozialkunde</option>
                        <option value="Sport">Sport</option>
                        <option value="Geschichte">Geschichte</option>
                        <option value="Chemie">Chemie</option>
                        <option value="Physik">Physik</option>
                        <option value="Kunst">Kunst</option>
                        <option value="Geographie">Geographie</option>
                    </select>
                </div>
                <!-- date -->
                <div class="mb-3">
                    <label for="content" class="form-label">Bis wann muss es erledigt werden?</label>
                    <input type="date" class="form-control" id="date" name="date">
                </div>
                <!-- important note -->
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="important" name="important">
                    <label class="form-check-label" for="important">Wichtige Notiz?</label>
                </div>
                <!-- notes -->
                <div class="mb-3">
                    <label for="content" class="form-label">Inhalt</label>
                    <textarea class="form-control" id="content" placeholder="Ihre Notizen" aria-describedby="contentHelp" name="content" rows="5"></textarea>
                <div id="contentHelp" class="form-text">Markdown wird unterstüzt</div>
                </div>
                <button type="button" class="btn btn-primary" id="btnCreateNote">Speichern</button>
                <button type="button" class="btn btn-danger btnCancle">Abbrechen</button>
            </form>

        </div>


        <!-- Delete all notes -->
        <div id="notes-delete" class="bg-light bg-gradient p-4 menu-box rounded">
            <div>
                <button type="button" class="btn btn-danger mb-3" id="btnNotesDelete" style="width: 100%;">
                    <div class="mb-2 pt-2">
                        <svg width="80" height="80" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                        </svg>
                        
                    </div>
                    Alle Notizen löschen?
                </button>
                <button type="button" class="btn btn-primary btnCancle" style="width: 100%;">Abbrechen</button>
            </div>
        </div>

        <!-- Settings -->
        <div id="settings" class="bg-light bg-gradient p-4 menu-box rounded">
            <div>
                <h3 class="mb-4">
                    <svg width="24" height="24" viewBox="0 0 16 16" class="bi bi-gear-fill mr-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 0 0-5.86 2.929 2.929 0 0 0 0 5.858z"/>
                    </svg>
                    Einstellungen
                </h3>
                <div class="mb-4 ml-2">
                    <h5 class="mb-3">Anpassung</h5>
                    <div class="mb-3">
                        <label for="dateFormat" class="form-label">Datumsformat</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="dateFormat" value="DD.MM.YYYY">
                            <span class="input-group-text" id="dateFormatDisplay">20.12.2002</span>
                        </div>
                    </div>
                </div>
                <div class="mb-4 ml-2">
                    <h5 class="mb-3">Notizen wiederherstellen / speichern (lokal)</h5>
                    <button type="button" class="btn btn-primary mb-3" id="btnUploadNotes" style="width: 100%;" disabled>
                        <svg width="20" height="20" viewBox="0 0 16 16" class="bi bi-file-arrow-up-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM7.5 6.707V10.5a.5.5 0 0 0 1 0V6.707l1.146 1.147a.5.5 0 0 0 .708-.708l-2-2a.5.5 0 0 0-.708 0l-2 2a.5.5 0 1 0 .708.708L7.5 6.707z"/>
                        </svg>
                        Notizen hochladen
                    </button>
                    <button id="btnDownloadNotes" type="button" class="btn btn-primary mb-3" id="btnDownloadNotes" style="width: 100%;">
                        <svg width="20" height="20" viewBox="0 0 16 16" class="bi bi-file-arrow-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM8 5a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 9.293V5.5A.5.5 0 0 1 8 5z"/>
                        </svg>
                        Notizen herunterladen
                    </button>
                </div>
                
                <button type="button" class="btn btn-danger btnCancle" style="width: 100%;">Anwenden & Schließen</button>
            </div>
        </div>

        <!-- filter / sort -->
        <div id="filter-sorting" class="bg-light bg-gradient p-4 menu-box rounded">
            <div>
                <h3 class="mb-4">
                    <svg width="24" height="24" viewBox="0 0 16 16" class="bi bi-gear-fill mr-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
                    </svg>
                    Filtern / Sortieren
                </h3>
                <form class="mb-4">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="showImportantNotes" checked>
                        <label class="form-check-label" for="showImportantNotes">Wichtige Notizen anzeigen</label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="showNormalNotes" checked>
                        <label class="form-check-label" for="showNormalNotes">Normale Notizen anzeigen</label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="showCheckedNotes">
                        <label class="form-check-label" for="showCheckedNotes">Erledigte Notizen anzeigen</label>
                    </div>
                    <div class="mt-4">
                        <label for="sort" class="form-label">Sortieren nach</label>
                        <select class="form-select" id="sort">
                            <option selected>Datum absteigend</option>
                            <option selected>Datum aufsteigend</option>
                            <option selected>Titel absteigend</option>
                            <option selected>Titel aufsteigend</option>
                            <option selected>Fach absteigend</option>
                            <option selected>Fach aufsteigend</option>
                        </select>
                    </div>
                </form>
                
                <button type="button" class="btn btn-primary btnCancle" style="width: 100%;">Anwenden</button>
            </div>
        </div>


        <!-- Note Menu -->
        <div id="note-menu" class="bg-light bg-gradient p-4 menu-box rounded">
            <div>
                <h3 class="mb-4">
                    <svg width="24" height="24" viewBox="0 0 16 16" class="bi bi-gear-fill mr-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg>
                    Optionen
                </h3>

                <!-- 
                <button id="btnCheck" type="button" class="btn btn-success mb-3" style="width: 100%;">Als erledigt makieren</button>
                <div class="btn-group mb-3" style="width: 100%;">
                    <button id="btnEdit" type="button" class="btn btn-primary">Bearbeiten</button>
                    <button id="btnDelete" type="button" class="btn btn-danger">Löschen</button>
                </div>
                <button type="button" class="btn btn-secondary btnCancle" style="width: 100%;">Abbrechen</button> 
                -->
                <div class="btn-group mb-3" role="group" style="width: 100%;">
                    <button id="btnCheck" type="button" class="btn btn-success">
                        <svg width="35" height="35" viewBox="0 0 16 16" class="bi bi-check2-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                            <path fill-rule="evenodd" d="M1.5 13A1.5 1.5 0 0 0 3 14.5h10a1.5 1.5 0 0 0 1.5-1.5V8a.5.5 0 0 0-1 0v5a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V3a.5.5 0 0 1 .5-.5h8a.5.5 0 0 0 0-1H3A1.5 1.5 0 0 0 1.5 3v10z"/>
                        </svg>
                    </button>
                    <button id="btnEdit" type="button" class="btn btn-primary">
                        <svg width="35" height="35" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                        </svg>
                    </button>
                    <button id="btnShare" type="button" class="btn btn-primary">
                        <svg width="35" height="35" viewBox="0 0 16 16" class="bi bi-share-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z"/>
                        </svg>
                    </button>
                    <button id="btnDelete" type="button" class="btn btn-danger btnCancle">
                        <svg width="35" height="35" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                        </svg>
                    </button>
                </div>
                <button type="button" class="btn btn-secondary btnCancle" style="width: 100%;">Schließen</button>
            </div>
        </div>

        <!-- Note Edit -->
        <div id="note-edit" class="bg-light bg-gradient p-4 menu-box rounded">
            <form>
                <!-- title -->
                <div class="mb-3">
                    <input type="text" class="form-control" id="editTitle" placeholder="Titel" name="title">
                </div>
                <!-- subject -->
                <div class="mb-3">
                    <label for="editSubject" class="form-label">Schulfach</label>
                    <select class="form-select" id="editSubject" name="subject">
                        <option value="Sonstiges">Sonstiges</option>
                        <option value="Deutsch">Deutsch</option>
                        <option value="Englisch">Englisch</option>
                        <option value="Latein">Latein</option>
                        <option value="Mathe">Mathe</option>
                        <option value="Religion">Religion</option>
                        <option value="Biologie">Biologie</option>
                        <option value="Wirtschaft und Recht">Wirtschaft und Recht</option>
                        <option value="Musik">Musik</option>
                        <option value="Informatik">Informatik</option>
                        <option value="Sozialkunde">Sozialkunde</option>
                        <option value="Sport">Sport</option>
                        <option value="Geschichte">Geschichte</option>
                        <option value="Chemie">Chemie</option>
                        <option value="Physik">Physik</option>
                        <option value="Kunst">Kunst</option>
                        <option value="Geographie">Geographie</option>
                    </select>
                </div>
                <!-- date -->
                <div class="mb-3">
                    <label for="editDate" class="form-label">Bis wann muss es erledigt werden?</label>
                    <input type="date" class="form-control" id="editDate" name="date">
                </div>
                <!-- important note -->
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="editImportant" name="important">
                    <label class="form-check-label" for="editImportant">Wichtige Notiz?</label>
                </div>
                <!-- important note -->
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="editChecked" name="important">
                    <label class="form-check-label" for="editChecked">Die Notiz ist erledigt</label>
                </div>
                <!-- notes -->
                <div class="mb-3">
                    <label for="editContent" class="form-label">Inhalt</label>
                    <textarea class="form-control" id="editContent" placeholder="Ihre Notizen" aria-describedby="contentHelp" name="content" rows="5"></textarea>
                <div id="contentHelp" class="form-text">Markdown wird unterstüzt</div>
                </div>
                <button type="button" class="btn btn-primary" id="btnEditNote">Änderungen speichern</button>
                <button type="button" class="btn btn-danger btnCancle">Abbrechen</button>
            </form>
        </div>
        <!-- Share Note -->
        <div id="note-share" class="bg-light bg-gradient p-4 menu-box rounded">
            <div class="d-flex justify-content-center flex-row">
                <div class="input-group">
                    <input id="shared-link" type="text" class="form-control" readonly value="">
                    <button class="btn btn-outline-secondary" type="button" data-target="shared-link">
                        <svg width="25" height="25" viewBox="0 0 16 16" class="bi bi-clipboard" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                            <path fill-rule="evenodd" d="M9.5 1h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Nav -->
    <%- include('templates/nav.ejs') %> 
    <!-- Buttons -->
    <div id="root" class=" mt-5">
        <div class="d-flex justify-content-center mb-2">
            <div id="alerts">
                <div id="no-sync" class="alert alert-danger" role="alert" style="display: none;">
                    Die Notizen wurden nicht synchronisiert!
                </div>
                <div id="no-connection" class="alert alert-danger" role="alert">
                    Sie haben keine Internetverbindung!
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div id="buttons">
                <!-- sync -->
                <button class="btn btn-secondary btn-icon rounded-circle" id="btnSync" disabled>
                    <svg width="27" height="27" viewBox="0 0 16 16" class="bi bi-arrow-repeat" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
                        <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
                    </svg>
                </button>
                <!-- settings -->
                <button class="btn btn-secondary btn-icon rounded-circle ml-1" id="btnSettings">
                    <svg width="27" height="27" viewBox="0 0 16 16" class="bi bi-gear-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 0 0-5.86 2.929 2.929 0 0 0 0 5.858z"/>
                    </svg>
                </button>
                <!-- add -->
                <button class="btn btn-primary btn-icon rounded-circle ml-1" id="btnAddNote">
                    <svg width="27" height="27" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                    </svg>
                </button>
                <!-- clear cookies -->
                <button class="btn btn-danger btn-icon rounded-circle ml-1" id="btnClearCookies">
                    <svg width="27" height="27" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                        </svg>
                </button>
                <!-- search -->
                <button class="btn btn-secondary btn-icon rounded-circle ml-1" id="btnSearch" disabled>
                    <svg width="27" height="27" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                        <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                        </svg>
                </button>
                <!-- filter -->
                <button class="btn btn-secondary btn-icon rounded-circle ml-1" id="btnFilter">
                    <svg width="27" height="27" viewBox="0 0 16 16" class="bi bi-filter" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
                    </svg>
                </button>
            </div>
            
        </div>

        <div id="notes" class="d-flex justify-content-center mt-4 row">            
        </div>
    </div>

    <!-- JS -->

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="/sources/js/bootstrap/bootstrap.min.js"></script>

    <!-- Moment JS -->
    <script src="/sources/js/moment/moment.min.js"></script>

    <!-- Showdown JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.0/showdown.min.js"></script>

    <script>
        // define global variables
        let global = {
            settings: {
                dateFormat: 'DD.MM.YYYY',
                sorting: ['date', 1],
                visible: {
                    important: true,
                    normal: true,
                    checked: false
                }
            },
            onWorkingId: null,
            events: {
                reload: new CustomEvent('reload', {bubbles: true}),
            },
            notes: []
        };
    </script>

    <script src="/sources/js/cookies.js"></script>
    <script src="/sources/js/notes.js"></script>
    <script src="/sources/js/update.js"></script>
    <script src="/sources/js/index_main.js"></script>
</body>
</html>