<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School Note</title>
    <%- include('templates/import-css.ejs') %>
</head>
<body>
    <%- include('templates/nav.ejs') %>

    <div id="root" class=" mt-5">
        <div id="notes" class="d-flex justify-content-center mt-4 row">
        </div>
    </div>

    <!-- JS -->

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="/sources/js/bootstrap/bootstrap.min.js"></script>

    <!-- Moment JS -->
    <script src="/sources/js/moment/moment.min.js"></script>

    <!-- Showdown JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.0/showdown.min.js"></script>

    <script src="/sources/js/main.js"></script>

    <script>

        $( async () => {
            // TODO: Sync settings: dateFormat

            let dateFormat = 'DD-MM-YYYY';

            let urlParams = new URLSearchParams(window.location.search);

            let req = await fetch('/api/note/get', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({id: urlParams.get('id')})
            });

            let data = await req.json();
            let note = data.note
            console.log(note);

            $('#notes').html(`
                <div id="${note.id}" class="${(note.checked) ? 'bg-success text-white' : (note.important) ? 'bg-warning' : 'bg-light'} bg-gradient p-4 box rounded m-3 col-1" >

                    <!-- title -->
                    <div class="mb-3 d-flex justify-content-between align-items-center">
                        <h4 class="pt-1">${note.title}</h4>
                        <button type="button" class="btn p-1 btnEdit" style="height: auto !important;">   
                            <svg width="25" height="25" viewBox="0 0 16 16" class="bi bi-three-dots-vertical" fill="${(note.checked) ? 'white' : 'currentColor'}" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                            </svg>
                        </button>
                    </div>
                    <!-- subject -->
                    <div class="mb-3">
                        Fach: ${note.subject}
                    </div>
                    <!-- date -->
                    <div class="mb-4">
                        Zu erledigen bis: ${moment(note.date, 'YYYY-MM-DD').format(dateFormat)}
                    </div>
                    <!-- notes -->
                    <div class="">
                        <div class="p-1 mb-2 plain" style="display: none;">
                            ${note.content}
                        </div>
                        <div class="p-1 markdown" id="content">
                            ${markdownToHtml(note.content)}
                        </div>
                    </div>
                </div>

            `);
        });
    </script>
</body>
</html>